@import "bootstrap";
@import "bootstrap-variables";
@import "compass/css3";

// FIX OF SAFARI COLOR TO TRANSPARENT
@mixin gradient($f,$l,$o:top,$start:0%,$end:100%) {
  @if($f==transparent){$f:rgba(255,255,255,0)}
  @if($l==transparent){$l:rgba(255,255,255,0)}
  background: -moz-linear-gradient   ($o,  $f $start, $l $end); /* FF3.6+ */
  background: -webkit-gradient(linear, left $o, left bottom, color-stop($start,$f), color-stop($end,$l)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient($o,  $f $start,$l $end); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient     ($o,  $f $start,$l $end); /* Opera 11.10+ */
  background: -ms-linear-gradient    ($o,  $f $start,$l $end); /* IE10+ */
  background: linear-gradient(     to $o,  $f $start,$l $end); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$f', endColorstr='$l',GradientType=0 ); /* IE6-9 */
}

/*============================================================
    global
============================================================*/
$color1 : #4D4D4D;
$color2 : #EEE;
$yt : #EC3333;
$gg :  #2e86c1 ;
$primary-color: $color1;
$add: #00AAFF;
$edit: $primary-color;
$rm: #C22626;
$imp: orange;
$sidebar: lighten($color1,60);

html,body {
	height: 100%;
	overflow: hidden;
	font-family: 'Poiret One', cursive;
}

body {
	color: $color1;
	background-color: #fff;
	font-size: 1.4em ;
}

input {
	border: none;
	background: none;
	color: $color1;
	font-size: 1.5em;
}

a,a:focus{
  outline: none
}

*::-moz-selection { 
  background: $sidebar; 
  //color: $color1;
}
*::selection { 
  background: $sidebar; 
  //color: $color1;
}

.padded {
	margin: 5% 5%;
	width: 90%;
}

#searchinput {
	font-size: 60px;
	width: 85%;
  display: inline-block;
}

.tabs {
  position: relative;
  height: 50vh;

  overflow: hidden;
  #tabs-results {
    height: 100%;
    padding: 40px 0;
    overflow-y: scroll;
  }
  &:before ,
  &:after {
    top: 0;
    width: 100%;
    height: 100px;
    position: absolute;
    content: "";
    pointer-events: none;
  }
  
  &:before {    @include gradient(white,transparent,bottom);     }
  &:after {     
    @include gradient(white,transparent,top);  
    top: auto;
    bottom: 0;
  }
  
}


.tabs a,a {

	@include single-transition(all, 0, ease-in-out);
	
	display: block;
	padding: 10px 20px;

	color: $color1;
	font-size: 30px;

	&:hover {
		background-color: $color2;
		box-shadow: inset 0 0 1px $color1;
	}
}

button {
	border: medium none;
	background: transparent none repeat scroll 0% 0%;
}

.toggles-search-buttons {
  width: 15%;
  display: inline-block;
}

.GYForm button {
  display: inline-block;
  width: 50%;
  &:last-child {
    margin-left: -5px;
  }
}

.GYForm button .fa {
	@include single-transition(all, .25s, ease-in-out);

	margin: 50px 20px;
}

button .fa {
	font-size: 40px;
}

.yt:hover > * {
	color: $yt;
}
.gg:hover > * {
	color: $gg;
}

.player-controls {
  margin: 50px 0;
  font-size: 20px;
  //text-align: center;

  .fa {
    @include single-transition(all, .10s, ease-in-out);

    padding: 0 5px;
    opacity: .5;
    
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
}

/*========================================
  context menu
========================================*/

.aside-buttons + .context-menu {
  display: none;
}

.context-menu {
  @include box-shadow(0 0 15px 0 $sidebar);
  //@include border-radius(5px);
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 500px;
  min-height: 80px;
  background-color: #fff;
  z-index: 30;
}

.context-menu .fa { 
  float: left;
  border-right: 1px solid $color1;
  width: 40px;
  height: 40px;
  line-height: 40px;
  //background-color: #111;
  color: $color1;
  position: relative;
  cursor: pointer; 
  text-align: center;

  &.add:hover,
  &.add.active { color: $add; }
  &.edit:hover,
  &.edit.active { color: $edit; }
  &.rm:hover,
  &.rm.active { color: $rm; }
  &.imp:hover,
  &.imp.active { color: $imp; }
} 

.context-inputs { display: none; }
.context-inputs.show { display: block; }

.context-menu-input {
  display: block;
  position: absolute;
  width: 100%;
  height: 40px;
  margin-top: 40px;
  border-top: 1px solid $color1;

  input {
    @include border-radius(0);
    padding: 0 10px;
    float: left;
    text-align: center;
    border-left: 1px solid $color1;
    &:last-child {
      border-left: 0 solid $color1;
    }
  }
  input:nth-child(1),
  input:nth-child(2) { width: 40%; }
  input:nth-child(3) { width: 20%; }
}


/*============================================================
    sidebar
============================================================*/

.sidebar {
  @include single-transition(all, .5s, ease-in-out);
  @include box-shadow(0 0 10px 0 $color1);
  position: fixed;
  top: 0;
  right: -290px;

  display: block;
  padding: 20px;
  width: 300px;
  height: 100%;

  background-color: $sidebar ;
  
  &:before{
    position: absolute;
    top: 0;
    left: -90px;
      
    width: 90px;
    height: 100%;
    display: block;
  
    content: '';
  }
  
  &:hover {
    @include box-shadow(0 0 20px 3px $color1);
    right: 0;
  }

}