/* cd C:\wamp\www\HYTEK5\Elementary\elementary\ */
/*============================================================
    button / inputs / textareas ...
============================================================*/
/* btn */
/* primary button */
/* inputs */
/* colorizes placeholder */
/* extend form-control styles */
/* submit button as block */
/* selection style */
/* line 85, ../sass/styles.scss */
.btn {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 0 solid #fff;
  text-transform: uppercase;
  -moz-box-shadow: 2px 2px 5px 0 #555;
  -webkit-box-shadow: 2px 2px 5px 0 #555;
  box-shadow: 2px 2px 5px 0 #555;
}

/* line 92, ../sass/styles.scss */
.btn-primary {
  background-color: #001720;
  color: #fff;
}

/* line 97, ../sass/styles.scss */
input, input[type="submit"], select, button, textarea {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  display: inline-block;
  padding: 2px 8px;
  margin-bottom: 0;
  border: 1px solid #000;
  color: #fff;
  background-color: #262626;
}
/* line 112, ../sass/styles.scss */
input:focus, input[type="submit"]:focus, select:focus, button:focus, textarea:focus {
  border-color: #001720;
  box-shadow: 0px 1px 1px #001720 inset, 0px 0px 8px #003c53;
}

/* line 119, ../sass/styles.scss */
*::-moz-selection {
  background: #001720;
  color: #fff;
}

/* line 123, ../sass/styles.scss */
*::selection {
  background: #001720;
  color: #fff;
}

/* line 129, ../sass/styles.scss */
label, strong {
  color: #001720;
}

/* line 133, ../sass/styles.scss */
input[type="submit"] {
  width: auto;
}

/* line 162, ../sass/styles.scss */
html, body {
  height: 100%;
}

/* line 164, ../sass/styles.scss */
body {
  -moz-transition: all, 5s, ease-in-out;
  -o-transition: all, 5s, ease-in-out;
  -webkit-transition: all, 5s, ease-in-out;
  transition: all, 5s, ease-in-out;
  padding: 20px 0;
  background-color: #000;
}
/* line 173, ../sass/styles.scss */
body:before {
  background: -moz-linear-gradient bottom, rgba(0, 0, 0, 0.8) 0%, black 100%;
  /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, left bottom, color-stop(0%, rgba(0, 0, 0, 0.8)), color-stop(100%, black));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 0%, black 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient bottom, rgba(0, 0, 0, 0.8) 0%, black 100%;
  /* Opera 11.10+ */
  background: -ms-linear-gradient bottom, rgba(0, 0, 0, 0.8) 0%, black 100%;
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, #000000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$f', endColorstr='$l',GradientType=0 );
  /* IE6-9 */
  content: "";
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
}
/* line 185, ../sass/styles.scss */
body:after {
  content: "";
  display: block;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.9;
  background-image: url("../../dependencies/img/noise.png");
  z-index: -1;
}

/* line 200, ../sass/styles.scss */
.element {
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: 2px 2px 5px 0 #000;
  -webkit-box-shadow: 2px 2px 5px 0 #000;
  box-shadow: 2px 2px 5px 0 #000;
  position: relative;
  margin-bottom: 20px;
  padding: 20px;
  color: #fff;
  background-color: #090A0E;
  background-image: url("../../dependencies/img/noise-diagonal.png");
  overflow: hidden;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/* line 216, ../sass/styles.scss */
.element .glass {
  -moz-transform: rotate(40deg) translate(50%, 0%) scale(2.5);
  -ms-transform: rotate(40deg) translate(50%, 0%) scale(2.5);
  -webkit-transform: rotate(40deg) translate(50%, 0%) scale(2.5);
  transform: rotate(40deg) translate(50%, 0%) scale(2.5);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  /*-------------*/
  bottom: 0;
  right: 0;
  width: 100px;
  height: 170px;
  /*-------------*/
  display: block;
  background-color: #fff;
  opacity: .017;
  content: '';
  z-index: 100;
  pointer-events: none;
}
/* line 244, ../sass/styles.scss */
.element:hover {
  -moz-box-shadow: 0 0 10px -2px #003c53;
  -webkit-box-shadow: 0 0 10px -2px #003c53;
  box-shadow: 0 0 10px -2px #003c53;
}

/* line 249, ../sass/styles.scss */
input, button, select {
  color: #fff;
}

/* line 253, ../sass/styles.scss */
.scrollable {
  max-height: 240px;
  overflow-y: scroll;
}

/*============================================================
    youtubeminiplayer
============================================================*/
/* line 263, ../sass/styles.scss */
.player {
  text-align: center;
  padding: 10px 0;
  padding-bottom: 30px;
}

/* line 269, ../sass/styles.scss */
#player {
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 175px;
  height: 175px;
  border: 5px solid #1a1a1a;
  overflow: hidden;
}
/* line 281, ../sass/styles.scss */
#player:hover {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  width: 200%;
}

/* line 288, ../sass/styles.scss */
.element.expand {
  overflow: visible;
  z-index: 1;
}
/* line 291, ../sass/styles.scss */
.element.expand .player {
  padding: 0;
}
/* line 294, ../sass/styles.scss */
.element.expand #player {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  bottom: -225px;
  right: 0;
  width: 515px;
  height: 225px;
}

/* line 303, ../sass/styles.scss */
.player-controls {
  font-size: 1.5em;
  text-align: center;
}
/* line 307, ../sass/styles.scss */
.player-controls span {
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  margin: 0 5px;
}
/* line 311, ../sass/styles.scss */
.player-controls span:hover {
  color: #fff;
  cursor: pointer;
}

/*============================================================
    clock
============================================================*/
/* line 321, ../sass/styles.scss */
.clock {
  display: block;
  text-align: center;
  font-size: 2.5em;
}

/*============================================================
    link list
============================================================*/
/* line 330, ../sass/styles.scss */
.link-list {
  display: block;
}

/* line 334, ../sass/styles.scss */
.submit.fa {
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  float: right;
  border: none;
  background-color: transparent;
  opacity: .3;
}
/* line 344, ../sass/styles.scss */
.submit.fa:hover {
  opacity: 1;
}
/* line 346, ../sass/styles.scss */
.submit.fa.fa-trash-o {
  color: #008cc3;
}

/* line 351, ../sass/styles.scss */
.toggles-search-buttons {
  float: right;
}

/* line 355, ../sass/styles.scss */
.search {
  width: 120px;
}

/* line 359, ../sass/styles.scss */
#link-order-select {
  width: 100%;
  margin-bottom: 10px;
}

/* line 364, ../sass/styles.scss */
#searchform {
  margin-bottom: 10px;
}

/* line 368, ../sass/styles.scss */
#UI-result > div {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #001a00;
  color: green;
  border: 1px solid green;
  padding: 10px;
}

/* line 378, ../sass/styles.scss */
#tabs .dropdown-menu {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: #111;
  padding: 5px;
  box-shadow: 2px 2px 5px black;
  border: none;
}

/*============================================================
    bordered links
============================================================*/
/* line 389, ../sass/styles.scss */
.border-link img {
  border: 5px solid #003c53;
}
