/* cd C:\wamp\www\HYTEK5\Elementary\elementary\ */
/* line 47, ../sass/styles.scss */
html, body {
  height: 100%;
}

/* line 49, ../sass/styles.scss */
body {
  background: -moz-linear-gradient top, #000 0%, #001720 100%;
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000), color-stop(100%, #001720));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #000 0%, #001720 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient top, #000 0%, #001720 100%;
  /* Opera 11.10+ */
  background: -ms-linear-gradient top, #000 0%, #001720 100%;
  /* IE10+ */
  background: linear-gradient(to top, #000000 0%, #001720 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$f', endColorstr='$l',GradientType=0 );
  /* IE6-9 */
  padding: 40px 0;
  background-color: #000;
  background-attachment: fixed;
}
/* line 58, ../sass/styles.scss */
body:after {
  content: "";
  display: block;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.8;
  background-image: url("../../dependencies/img/noise.png");
  z-index: -1;
}

/* line 73, ../sass/styles.scss */
.element {
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: 2px 2px 5px 0 #000;
  -webkit-box-shadow: 2px 2px 5px 0 #000;
  box-shadow: 2px 2px 5px 0 #000;
  position: relative;
  margin: 20px 0;
  padding: 20px;
  color: #fff;
  background-color: #090A0E;
  background-image: url("../../dependencies/img/noise-diagonal.png");
  overflow: hidden;
}
/* line 89, ../sass/styles.scss */
.element .glass {
  -moz-transform: rotate(40deg) translate(50%, 0%) scale(2.5);
  -ms-transform: rotate(40deg) translate(50%, 0%) scale(2.5);
  -webkit-transform: rotate(40deg) translate(50%, 0%) scale(2.5);
  transform: rotate(40deg) translate(50%, 0%) scale(2.5);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #fff;
  opacity: .017;
  content: '';
  z-index: 100;
  pointer-events: none;
}

/* line 109, ../sass/styles.scss */
input, button, select {
  color: #000;
}

/* line 113, ../sass/styles.scss */
.scrollable {
  max-height: 240px;
  overflow-y: scroll;
}

/*============================================================
    youtubeminiplayer
============================================================*/
/* line 123, ../sass/styles.scss */
.player {
  text-align: center;
  padding: 10px 0;
  padding-bottom: 30px;
}

/* line 129, ../sass/styles.scss */
#player {
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 175px;
  height: 175px;
  border: 5px solid #1a1a1a;
  overflow: hidden;
}

/* line 148, ../sass/styles.scss */
.player-controls {
  font-size: 1.5em;
  text-align: center;
}
/* line 152, ../sass/styles.scss */
.player-controls span {
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  margin: 0 5px;
}
/* line 156, ../sass/styles.scss */
.player-controls span:hover {
  color: #fff;
  cursor: pointer;
}

/*============================================================
    clock
============================================================*/
/* line 166, ../sass/styles.scss */
.clock {
  display: block;
  text-align: center;
  font-size: 2.5em;
}

/*============================================================
    link list
============================================================*/
/* line 175, ../sass/styles.scss */
.link-list {
  display: block;
}

/* line 179, ../sass/styles.scss */
.submit.fa {
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  float: right;
  border: none;
  background-color: transparent;
  opacity: .3;
}
/* line 189, ../sass/styles.scss */
.submit.fa:hover {
  opacity: 1;
}
/* line 191, ../sass/styles.scss */
.submit.fa.fa-trash-o {
  color: #008cc3;
}

/* line 196, ../sass/styles.scss */
.toggles-search-buttons {
  float: right;
}

/* line 200, ../sass/styles.scss */
.search {
  width: 120px;
}

/* line 204, ../sass/styles.scss */
#link-order-select {
  width: 100%;
  margin-bottom: 10px;
}

/* line 209, ../sass/styles.scss */
#searchform {
  margin-bottom: 10px;
}

/* line 213, ../sass/styles.scss */
#UI-result > div {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #001a00;
  color: green;
  border: 1px solid green;
  padding: 10px;
}

/* line 223, ../sass/styles.scss */
#tabs .dropdown-menu {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: #111;
  padding: 5px;
  box-shadow: 2px 2px 5px black;
  border: none;
}
