/* cd C:\wamp\www\HYTEK5\Elementary\elementary\ */
/*============================================================
    button / inputs / textareas ...
============================================================*/
/* btn */
/* primary button */
/* inputs */
/* colorizes placeholder */
/* extend form-control styles */
/* submit button as block */
/* selection style */
/* line 85, ../sass/styles.scss */
.btn {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 0 solid #fff;
  text-transform: uppercase;
  -moz-box-shadow: 2px 2px 5px 0 #555;
  -webkit-box-shadow: 2px 2px 5px 0 #555;
  box-shadow: 2px 2px 5px 0 #555;
}

/* line 92, ../sass/styles.scss */
.btn-primary {
  background-color: #001720;
  color: #fff;
}

/* line 97, ../sass/styles.scss */
input, input[type="submit"], select, button, textarea {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  display: inline-block;
  padding: 2px 8px;
  margin-bottom: 0;
  border: 1px solid #000;
  color: #fff;
  background-color: #262626;
}
/* line 112, ../sass/styles.scss */
input:focus, input[type="submit"]:focus, select:focus, button:focus, textarea:focus {
  border-color: #001720;
  box-shadow: 0px 1px 1px #001720 inset, 0px 0px 8px #003c53;
}

/* line 119, ../sass/styles.scss */
*::-moz-selection {
  background: #001720;
  color: #fff;
}

/* line 123, ../sass/styles.scss */
*::selection {
  background: #001720;
  color: #fff;
}

/* line 129, ../sass/styles.scss */
label, strong {
  color: #001720;
}

/* line 133, ../sass/styles.scss */
input[type="submit"] {
  width: auto;
}

/* line 162, ../sass/styles.scss */
html, body {
  height: 100%;
}

/* line 164, ../sass/styles.scss */
body {
  -moz-transition: all, 3s, ease-in-out;
  -o-transition: all, 3s, ease-in-out;
  -webkit-transition: all, 3s, ease-in-out;
  transition: all, 3s, ease-in-out;
  padding: 20px 0;
  background-color: #000;
}
/* line 173, ../sass/styles.scss */
body:before {
  background: -moz-linear-gradient bottom, rgba(0, 0, 0, 0.8) 0%, black 100%;
  /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, left bottom, color-stop(0%, rgba(0, 0, 0, 0.8)), color-stop(100%, black));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 0%, black 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient bottom, rgba(0, 0, 0, 0.8) 0%, black 100%;
  /* Opera 11.10+ */
  background: -ms-linear-gradient bottom, rgba(0, 0, 0, 0.8) 0%, black 100%;
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, #000000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$f', endColorstr='$l',GradientType=0 );
  /* IE6-9 */
  content: "";
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
}
/* line 185, ../sass/styles.scss */
body:after {
  content: "";
  display: block;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.9;
  background-image: url("../../dependencies/img/noise.png");
  z-index: -1;
}

/* line 200, ../sass/styles.scss */
.link-list, .clock {
  -moz-transition: color, 5s;
  -o-transition: color, 5s;
  -webkit-transition: color, 5s;
  transition: color, 5s;
}

/* line 204, ../sass/styles.scss */
.element, .dock .dock-aspect {
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: 2px 2px 5px 0 #000;
  -webkit-box-shadow: 2px 2px 5px 0 #000;
  box-shadow: 2px 2px 5px 0 #000;
  position: relative;
  margin-bottom: 20px;
  padding: 20px;
  color: #fff;
  background-color: #090A0E;
  background-image: url("../../dependencies/img/noise-diagonal.png");
  overflow: hidden;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/* line 220, ../sass/styles.scss */
.element .glass, .dock .dock-aspect .glass {
  -moz-transform: rotate(40deg) translate(50%, 0%) scale(2.5);
  -ms-transform: rotate(40deg) translate(50%, 0%) scale(2.5);
  -webkit-transform: rotate(40deg) translate(50%, 0%) scale(2.5);
  transform: rotate(40deg) translate(50%, 0%) scale(2.5);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  /*-------------*/
  bottom: 0;
  right: 0;
  width: 100px;
  height: 170px;
  /*-------------*/
  display: block;
  background-color: #fff;
  opacity: .017;
  content: '';
  z-index: 100;
  pointer-events: none;
}
/* line 248, ../sass/styles.scss */
.element:hover, .dock .dock-aspect:hover {
  -moz-box-shadow: 0 0 10px -2px #003c53;
  -webkit-box-shadow: 0 0 10px -2px #003c53;
  box-shadow: 0 0 10px -2px #003c53;
}

/* line 253, ../sass/styles.scss */
input, button, select {
  color: #fff;
}

/* line 257, ../sass/styles.scss */
.scrollable {
  max-height: 240px;
  overflow-y: scroll;
}

/*============================================================
    youtubeminiplayer
============================================================*/
/* line 267, ../sass/styles.scss */
.player {
  text-align: center;
  padding: 10px 0;
  padding-bottom: 30px;
}

/* line 273, ../sass/styles.scss */
#player {
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 175px;
  height: 175px;
  border: 5px solid #1a1a1a;
  overflow: hidden;
}
/* line 285, ../sass/styles.scss */
#player:hover {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  width: 200%;
}

/* line 292, ../sass/styles.scss */
.element.expand, .dock .expand.dock-aspect {
  overflow: visible;
  z-index: 1;
}
/* line 295, ../sass/styles.scss */
.element.expand .player, .dock .expand.dock-aspect .player {
  padding: 0;
}
/* line 298, ../sass/styles.scss */
.element.expand #player, .dock .expand.dock-aspect #player {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  bottom: -225px;
  right: 0;
  width: 515px;
  height: 225px;
}

/* line 307, ../sass/styles.scss */
.player-controls {
  font-size: 1.5em;
  text-align: center;
}
/* line 311, ../sass/styles.scss */
.player-controls span {
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  margin: 0 5px;
}
/* line 315, ../sass/styles.scss */
.player-controls span:hover {
  color: #fff;
  cursor: pointer;
}

/*============================================================
    clock
============================================================*/
/* line 325, ../sass/styles.scss */
.clock {
  display: block;
  text-align: center;
  font-size: 2.5em;
}

/*============================================================
    link list
============================================================*/
/* line 334, ../sass/styles.scss */
.link-list {
  display: block;
}

/* line 338, ../sass/styles.scss */
.submit.fa {
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  float: right;
  border: none;
  background-color: transparent;
  opacity: .3;
}
/* line 348, ../sass/styles.scss */
.submit.fa:hover {
  opacity: 1;
}
/* line 350, ../sass/styles.scss */
.submit.fa.fa-trash-o {
  color: #008cc3;
}

/* line 355, ../sass/styles.scss */
.toggles-search-buttons {
  float: right;
}

/* line 359, ../sass/styles.scss */
.search {
  width: 120px;
}

/* line 363, ../sass/styles.scss */
#link-order-select {
  width: 100%;
  margin-bottom: 10px;
}

/* line 368, ../sass/styles.scss */
#searchform {
  margin-bottom: 10px;
}

/* line 372, ../sass/styles.scss */
#UI-result > div {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #001a00;
  color: green;
  border: 1px solid green;
  padding: 10px;
}

/* line 382, ../sass/styles.scss */
#tabs .dropdown-menu {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: #111;
  padding: 5px;
  box-shadow: 2px 2px 5px black;
  border: none;
}

/*============================================================
    bordered links
============================================================*/
/* line 393, ../sass/styles.scss */
.border-link img {
  border: 2px solid #003c53;
}

/*============================================================
    dock
============================================================*/
/* line 401, ../sass/styles.scss */
.dock {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  display: block;
}
/* line 407, ../sass/styles.scss */
.dock ul {
  position: relative;
  display: inline-block;
}
/* line 411, ../sass/styles.scss */
.dock .dock-aspect {
  position: absolute;
  margin-bottom: 0;
  bottom: -10px;
  left: 0;
  display: block;
  background-color: #090A0E;
  background-image: url("../../dependencies/img/noise-diagonal.png");
  height: 50px;
  width: 100%;
  z-index: -1;
  transform: perspective(150px) rotateX(50deg);
  		/*
  		&:after,&:before {
  			position: absolute;
  			top: 0;
  			left: -$aft-bfr-w;
  		    
  			width: $aft-bfr-w;
  			height: $dock-h;
  			display: block;
  
  			width: 0;
  			height: 0;
  			border-style: solid;
  			border-width: 0 0 $dock-h $aft-bfr-w;
  			border-color: transparent transparent $dock-color transparent;
  		
  			content: '';
  			z-index: 2;
  		}
  		&:after{
  			left: auto;
  			right: -$aft-bfr-w;
  			border-width: $dock-h 0 0 $aft-bfr-w;
  			border-color: transparent transparent transparent $dock-color;
  		}
  		*/
}
/* line 454, ../sass/styles.scss */
.dock .dock-icon {
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  overflow: hidden;
  -moz-box-shadow: 0 0 5px 0 #000;
  -webkit-box-shadow: 0 0 5px 0 #000;
  box-shadow: 0 0 5px 0 #000;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  margin-bottom: 10px;
  opacity: .5;
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
/* line 468, ../sass/styles.scss */
.dock .dock-icon:hover {
  opacity: 1;
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}
