/*//////////////////////////////////////////////////////////////////////////////////MENU////////////////////////////////*/
/* line 2, ../sass/onlyoneminute.scss */
* {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* line 8, ../sass/onlyoneminute.scss */
.title {
  font-family: 'Bookman Old Style', serif;
  line-height: 1em;
  color: #8a6800;
  font-weight: bold;
  font-style: italic;
  font-size: 131px;
  text-shadow: 0px 0px 0 #805e00, 0px 1px 0 #755300, 0px 2px 0 #6b4900, 0px 3px 0 #613f00, 0px 4px 0 #573500, 0px 5px 0 #4c2a00, 0px 6px 0 #422000, 0px 7px 0 #381600, 0px 8px 7px rgba(0, 0, 0, 0.4), 0px 8px 1px rgba(0, 0, 0, 0.5), 0px 0px 7px rgba(0, 0, 0, 0.2);
}

/* line 17, ../sass/onlyoneminute.scss */
a {
  padding: 10px;
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
}

/* line 23, ../sass/onlyoneminute.scss */
a:hover {
  cursor: pointer;
}

/* line 24, ../sass/onlyoneminute.scss */
#preloader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  z-index: 99;
  height: 100%;
}

/* line 36, ../sass/onlyoneminute.scss */
.btn {
  background: #d9aa34;
  background-image: -webkit-linear-gradient(top, #d9aa34, #6e5800);
  background-image: -moz-linear-gradient(top, #d9aa34, #6e5800);
  background-image: -ms-linear-gradient(top, #d9aa34, #6e5800);
  background-image: -o-linear-gradient(top, #d9aa34, #6e5800);
  background-image: linear-gradient(to bottom, #d9aa34, #6e5800);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  text-shadow: 2px 2px 1px #000000;
  -webkit-box-shadow: 2px 2px 5px #000000;
  -moz-box-shadow: 2px 2px 5px #000000;
  box-shadow: 2px 2px 5px #000000;
  font-family: Courier New;
  color: #ffffff;
  font-size: 38px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

/* line 56, ../sass/onlyoneminute.scss */
.btn:hover {
  background: #a18900;
  background-image: -webkit-linear-gradient(top, #a18900, #dea700);
  background-image: -moz-linear-gradient(top, #a18900, #dea700);
  background-image: -ms-linear-gradient(top, #a18900, #dea700);
  background-image: -o-linear-gradient(top, #a18900, #dea700);
  background-image: linear-gradient(to bottom, #a18900, #dea700);
  text-decoration: none;
}

/* line 65, ../sass/onlyoneminute.scss */
.menubutton,
.startbutton,
.fullscreenbutton {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  top: auto;
  position: absolute;
  z-index: 200;
}

/* line 74, ../sass/onlyoneminute.scss */
.fullscreenbutton {
  margin-left: 80px;
}

/* line 77, ../sass/onlyoneminute.scss */
.startbutton {
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

/* line 85, ../sass/onlyoneminute.scss */
.startbutton span {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  line-height: 50px;
  font-size: 7em;
  bottom: auto;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
}

/*//////////////////////////////////////////////////////////////////////////////////GAME////////////////////////////////*/
/* line 100, ../sass/onlyoneminute.scss */
html, body {
  background-image: url("../img/onlyoneminute/landscape2.jpg");
  background-color: #111;
  background-size: 100% 100%;
  padding: 0;
  margin: 0;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}

/* line 111, ../sass/onlyoneminute.scss */
.run-animation,
.run-animationinv {
  display: block;
  width: 50px;
  height: 50px;
  background-image: url("../img/onlyoneminute/moohurun2.gif");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  animation-name: my-animation;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-name: my-animation;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

/* line 131, ../sass/onlyoneminute.scss */
.run-animationinv {
  animation-name: my-animationinv;
  -webkit-animation-name: my-animationinv;
}

/* line 136, ../sass/onlyoneminute.scss */
.run-animation.speed1, .run-animationinv.speed1 {
  animation-duration: 10s;
  -webkit-animation-duration: 10s;
}

/* line 139, ../sass/onlyoneminute.scss */
.run-animation.speed2, .run-animationinv.speed2 {
  animation-duration: 20s;
  -webkit-animation-duration: 20s;
}

/* line 142, ../sass/onlyoneminute.scss */
.run-animation.speed3, .run-animationinv.speed3 {
  animation-duration: 30s;
  -webkit-animation-duration: 30s;
}

/* line 146, ../sass/onlyoneminute.scss */
.run-animation .hp-hud,
.run-animationinv .hp-hud {
  width: 100px;
  opacity: .2;
  pointer-event: none;
}

/* line 152, ../sass/onlyoneminute.scss */
.run-animation .hp-bar,
.run-animationinv .hp-bar {
  content: "";
  width: 100%;
  height: 2px;
  background-color: green;
  display: block;
  box-shadow: 2px 2px 0px #333;
  pointer-event: none;
}

/* line 162, ../sass/onlyoneminute.scss */
.run-animation:hover .hp-hud,
.run-animationinv:hover .hp-hud {
  opacity: 1;
}

/* line 165, ../sass/onlyoneminute.scss */
.ra-body,
.ra-head {
  position: absolute;
  top: 0;
  width: 80%;
  height: 100%;
  display: block;
  border: 1px solid green;
  display: inline-block;
}

/* line 175, ../sass/onlyoneminute.scss */
.ra-head {
  width: 20%;
  border: 1px solid blue;
}

/* line 179, ../sass/onlyoneminute.scss */
.run-animation.die,
.run-animationinv.die {
  background-image: url("../img/onlyoneminute/chicken-die.png");
  background-size: 100% 100%;
}

/* line 184, ../sass/onlyoneminute.scss */
.run-animationinv {
  background-image: url("../img/onlyoneminute/moohuruninv2.gif");
}

/* line 187, ../sass/onlyoneminute.scss */
.cursor-scope {
  display: block;
  position: absolute;
  margin-top: -62.5px;
  margin-left: -62.5px;
  width: 125px;
  height: 125px;
  z-index: 100;
  text-align: center;
  transition: transform .1s ease-in-out;
  pointer-events: none;
  background-image: url("../img/onlyoneminute/cursor.png");
  background-size: 100%;
  content: "";
}

/*.cursor-scope:before{
	content: "+";
	position: absolute;
	color: #FFF;
	top:-32px;
	left:-10px;
	font-weight: 300;
	font-size: 70px;
}*/
/* line 218, ../sass/onlyoneminute.scss */
.score,
.best-score,
#timerText {
  font-size: 30px;
  color: #FFF;
  font-weight: bold;
  font-family: 'Satisfy', cursive;
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 231, ../sass/onlyoneminute.scss */
.score {
  top: 40px;
}

/* line 232, ../sass/onlyoneminute.scss */
#timerText {
  right: 0;
}

/* line 235, ../sass/onlyoneminute.scss */
.achivement {
  display: block;
  position: absolute;
  top: -100px;
  left: 50%;
  margin-left: -125px;
  width: 250px;
  padding: 20px;
  background-color: #111;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 10px #fff;
  text-transform: uppercase;
  opacity: 0;
  border-radius: 3px;
}

/* line 251, ../sass/onlyoneminute.scss */
.achivement.show {
  animation: fadeout 8s;
}

/* line 254, ../sass/onlyoneminute.scss */
.container {
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
}

/* line 261, ../sass/onlyoneminute.scss */
.ammo {
  position: absolute;
  display: block;
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
  height: 100px;
  width: auto;
}

/* line 272, ../sass/onlyoneminute.scss */
.smoke {
  display: none;
}

/* line 273, ../sass/onlyoneminute.scss */
.bullets {
  display: block;
  height: 100%;
  width: 50px;
  bottom: 0;
  top: auto;
  background-image: url("../Weapons/bullets/bullets2.png");
  background-size: 100% 100%;
  display: inline-block;
}

/* line 283, ../sass/onlyoneminute.scss */
.bullets.shooted {
  position: absolute;
  opacity: 0;
  left: -50px;
  animation: shooted 2s;
}

/* line 289, ../sass/onlyoneminute.scss */
.reload,
.gameOver {
  display: none;
  top: 50%;
  left: 50%;
  height: 500px;
  width: 900px;
  margin-left: -450px;
  margin-top: -250px;
  position: absolute;
  background-image: url("../img/onlyoneminute/reload.png");
  -webkit-animation: blink 1s infinite;
  animation: blink 1s infinite;
}

/* line 303, ../sass/onlyoneminute.scss */
.reload_small,
.gameOver_small {
  text-align: center;
  font-size: .5em;
  display: block;
}

/* line 309, ../sass/onlyoneminute.scss */
.winscore50:after,
.winscore100:after,
.winscore200:after,
.winscore300:after {
  content: "+50";
  display: block;
  width: 100px;
  height: 20px;
  color: #FFF;
  font-size: 30px;
  opacity: 0;
  margin-top: 0;
  position: absolute;
  top: 0;
  left: 325px;
  -webkit-animation: winscore 1s infinite;
  animation: winscore 1s infinite;
}

/* line 327, ../sass/onlyoneminute.scss */
.winscore100:after {
  content: "+100";
}

/* line 330, ../sass/onlyoneminute.scss */
.winscore200:after {
  content: "+200";
}

/* line 333, ../sass/onlyoneminute.scss */
.winscore300:after {
  content: "+300";
}

/* line 336, ../sass/onlyoneminute.scss */
#feed {
  position: absolute;
  right: 0;
  top: 60px;
  max-height: 30%;
  color: #FFF;
}

/* line 343, ../sass/onlyoneminute.scss */
.feeded {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 2px;
  padding: 10px 20px;
  line-height: 15px;
  margin: 5px 0;
  opacity: 1;
  text-transform: uppercase;
  text-shadow: 0 0 10px #fff;
}

/* line 354, ../sass/onlyoneminute.scss */
.feeded.dn {
  opacity: 0;
}

/*.feeded:nth-child(8) {opacity: .8;}
.feeded:nth-child(9) {opacity: .5;}
.feeded:nth-child(10) {opacity: .2;}
.feeded:nth-child(n+11) {opacity: 0;}*/
/* line 362, ../sass/onlyoneminute.scss */
.weaponsSlot {
  display: none;
}
/* line 365, ../sass/onlyoneminute.scss */
.weaponsSlot.active {
  display: block;
}

/* line 367, ../sass/onlyoneminute.scss */
.wheel-button {
  position: fixed;
  left: 50%;
  top: auto;
  bottom: 0;
  text-decoration: none;
  height: 40px;
  width: 40px;
  background: #fff;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  color: #333;
}

/* line 381, ../sass/onlyoneminute.scss */
.wheel {
  margin-left: 6px;
}

/* line 384, ../sass/onlyoneminute.scss */
.wheel .item {
  height: 40px;
  width: 40px;
  background: #fff;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
}

/* line 392, ../sass/onlyoneminute.scss */
.wheel .item a {
  text-decoration: none;
  color: #333;
}

/*KEYFRAMES OF ANIMATIONS/////////////////////////////////////////////////////////////////////////////////////*/
@keyframes winscore {
  from {
    opacity: 1;
    margin-top: 30px;
    font-size: 10px;
  }
  to {
    opacity: 0;
    margin-top: 0px;
    font-size: 70px;
  }
}
@-webkit-keyframes winscore {
  from {
    opacity: 1;
    margin-top: 30px;
    font-size: 10px;
  }
  to {
    opacity: 0;
    margin-top: 0px;
    font-size: 70px;
  }
}
@keyframes my-animation {
  from {
    left: -10%;
  }
  to {
    left: 110%;
  }
}
@-webkit-keyframes my-animation {
  from {
    left: -10%;
  }
  to {
    left: 110%;
  }
}
@keyframes my-animationinv {
  from {
    left: 110%;
  }
  to {
    left: -10%;
  }
}
@-webkit-keyframes my-animationinv {
  from {
    left: 110%;
  }
  to {
    left: -10%;
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  5% {
    top: 10px;
    opacity: 1;
  }
  50% {
    top: 10px;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  5% {
    top: 10px;
    opacity: 1;
  }
  50% {
    top: 10px;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
