/* cd C:\wamp\www\HYTEK5\Elementary\elementary\ */
@import "compass/css3";
@import "bootstrap";

/*============================================================
    variables
============================================================*/

	// custom styles ?

	$custom-styles 			: false;  

	// colors

	$primary				: #001720;
	$brand-primary			: $primary;
	$dark 					: #000;
	$light 					: #fff;
	$body-bg 				: $light;
	$gray 					: #555;
	$bgc 					: #111;
	$gradient 				: #682525;
	$links 					: #fff;
	$gold  					: #ffc600;


	// mask for making wall having some texture

	$mask  					: "../../dependencies/img/noise.png"; 	
	$mask-opacity 			: .9;

	$element-bg-color		: #151515; //#090A0E;
	$element-color			: $light;
	$element-padding		: 20px;
	$element-mask 			: "../../dependencies/img/noise-diagonal.png";

	$glass-opacity 			: .05;
	$opacity-submit-fa 		: .1;

	$input-color 			: $dark;

	$arrow-url 				: "../../dependencies/img/right-arrow.png"; 	

/*============================================================
    button / inputs / textareas ...
============================================================*/

	button,textarea,input,select { 
		border: none;
		background-color: #222;
		color: #fff;
		line-height: 30px;
		margin-bottom: 5px;
		padding: 0 8px;
		height: 30px;
	}
	input[type=range] {
		background-color: transparent !important;
		padding: 0 !important;
	}
	
	textarea {
		@include box-shadow(inset 0 0 4px 1px #000);
		height: auto;
		line-height: 20px;
		padding: 10px;
	}

	select {
		option {
				padding: 10px 10px;
				&:hover ,
				&:checked {
				box-shadow: inset 0 40px #444;
				cursor: pointer;
				}
		}
	}


	// FIX OF SAFARI COLOR TO TRANSPARENT
	@mixin gradient($f,$l,$o:top,$start:0%,$end:100%) {
		@if($f==transparent){$f:rgba(255,255,255,0)}
		@if($l==transparent){$l:rgba(255,255,255,0)}
		background: -moz-linear-gradient   ($o,  $f $start, $l $end); /* FF3.6+ */
		background: -webkit-gradient(linear, left $o, left bottom, color-stop($start,$f), color-stop($end,$l)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient($o,  $f $start,$l $end); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient     ($o,  $f $start,$l $end); /* Opera 11.10+ */
		background: -ms-linear-gradient    ($o,  $f $start,$l $end); /* IE10+ */
		background: linear-gradient(     to $o,  $f $start,$l $end); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$f', endColorstr='$l',GradientType=0 ); /* IE6-9 */
	}

/*============================================================
    global
============================================================*/

	html, body {	height: 100%;  }

	*:focus { outline: none !important; }

	body {
		@include transition(all, 3s, ease-in-out);
		//@include gradient($dark,$primary,top);

		padding: 20px 0;
		@media (max-width: 767px){ // * < 767px only phones
			// [-]|
			& > .container-fluid {
				margin-bottom: 80px;
			}
		}

		background-color: $bgc;
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		/*
		&:before {
			@include gradient(rgba(0,0,0,0.5),$gradient,bottom);
			content: "";
			display: block;
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: -2;
		}	
		*/

		&:after {
		    content: "";
		    display: block;
		    position: fixed;
		    top: 0px;
		    right: 0px;
		    bottom: 0px;
		    left: 0px;
		    opacity: $mask-opacity;
		    background-image: url($mask);	
		    z-index: -1;
		}
		
	}

	a { 
		color: $links; 
		&:hover { cursor: pointer; }
	} 

	%ellipsis {
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

/*============================================================
    preloader
============================================================*/

	.preloader {
		position: absolute;
		
		top: 0;left: 0;bottom: 0;right: 0;
		display: block;
		
		background-color: #0f0f0f;
		
		content: '';
		opacity: 1;
	}

/*============================================================
    INPUT TYPE FILE
============================================================*/

	@mixin custom-input-file(
		){
		visibility: hidden;
		position: absolute;
		& + label { 
			@include border-radius(0); 
			border: 1px solid #fff; 
			display: block;
		}
		& + label.has-file { 
			border: 1px solid $gold;
			color: $gold; 
			max-width: 100%;
			@extend %ellipsis;
		}
		@content;
	}

	input[type="file"] {
		@include custom-input-file();
	}

	.ellipsis {
		@extend %ellipsis;
	}

/*============================================================
    header
============================================================*/
	
	#searchform {
		button {
			background-color: transparent;
			padding: 0;
		}
		li {
			height: 40px;
		}
	}

	#autocomplete {
		position: absolute;
		text-transform: uppercase;
		line-height: 50px;
		right: 0;
	}

/*============================================================
    well
============================================================*/

	.well {
		@include border-radius(0);
		border: none;
	}

/*============================================================
    glass element
============================================================*/

	.element {
		@include border-radius(1px);
		@include box-shadow(2px 2px 5px 0 $dark);
		
		position: relative;

		margin-bottom: 20px;
		padding: $element-padding;

		color: $element-color;

		background-color: $element-bg-color;
		background-image: url($element-mask);

		overflow: hidden;
		&.ytb {
			height:300px;
			overflow-y: visible;
		}
		.glass {
			@include transform(rotate(40deg) translate(50%,0%) scale(2.5));
		
			position: absolute;
			top: 50%;
			left: 50%;
			
			width: 100%;
			height: 100%;
			/*-------------*/
			bottom: 0;
			right: 0;
			
			width: 100px;
			height: 170px;
			/*-------------*/

			display: block;
			
			background-color: $light;
			opacity: $glass-opacity;
			content: '';
			z-index: 5;

			pointer-events: none;
		}
		@include single-transition(all, .1s, ease-in-out);
		
		&:hover {
			@include box-shadow(0 0 10px -2px lighten($gold,10));
		}
	}

	.scrollable {
		overflow-y: scroll;
		max-height: 240px;
		&.youtube { max-height: 90px; }
	}

/*============================================================
    youtubeminiplayer
============================================================*/
	$yt-hoverToExpend : true;

	.player {
		text-align: center;
		padding: 10px 0;
		padding-bottom: 30px;
	}

	#player {
		@include border-radius(100%);
		@include single-transition(all, .25s, ease-in-out);

		width: 175px;
		height: 175px;

		border: 5px solid lighten($dark,10); ;

		overflow: hidden;

		@if ($yt-hoverToExpend == true) {
			&:hover {
				@include border-radius(0);
				width: 200%;
			}
		}

	}
	.element.expand {
		overflow: visible;
		z-index: 1;
		.player {
			padding: 0;
		}
		#player {
			@include border-radius(0);
			bottom: -225px;
			right: 0;
			width: 515px;
			height: 225px;
		}
	} 

	.player-controls {
		font-size: 1.5em;
		text-align: center;

		span {
			@include single-transition(all, .25s, ease-in-out);
			margin: 0 5px;

			&:hover { 
				color: $light; 
				cursor: pointer; 
			}
		}
	}

	.youtube-list-rm-button {	margin-right: 10px; }
	.youtube-list-thumbnail {	
		width: 50px; 
		margin-right: 10px;
	}

	.progress {
	  	@include border-radius(0);
	  	height: 10px;
	  	position: relative;
	  	background-color: #333;
	  	margin-top: 15px;
	  	margin-bottom: 10px;
	  	.progress-bar {
	  		background-color: #a72727;
	  	}
		#youtubeRangeSlider-input {
			top: 0;
			opacity: 0;
			z-index: 1;
			margin: 0;
			padding: 0;
			border: 0;
			height: 100%;
			cursor: pointer;
			position: absolute;
		}
		input[type=range]::-moz-range-thumb {
			width: 0 !important;
			padding: 0 !important;
			border: 0 !important;	
		}
		input[type=range]::-webkit-slider-thumb {
			width: 0 !important;
			padding: 0 !important;
			border: 0 !important;	
		}
		input[type=range]::-ms-thumb {
			width: 0 !important;
			padding: 0 !important;
			border: 0 !important;			
		}
	}

	.repeat-active {
		text-shadow: 0 0 5px white;
	}

	@media (max-width: 767px){ // * < 767px only phones
		// [-]|
		.player-controls {
			position: fixed;
			display: inline-block;
			bottom: 0;
			background-color: #111;
			left: 0;
			width: 100%;
			padding: 0 0 10px 0;
			box-shadow: 0 0 5px black;
			z-index: 99999;
		}
		.progress {
			margin-top: 0;
		}
		.scrollable.youtube {
		    max-height: 150px;
		}
	}

/*============================================================
    clock
============================================================*/
	.clock {
		display: block;
		text-align: center;
		font-size: 2.5em;
	}

/*============================================================
    link list
============================================================*/
	.link-list {
		display: block;
	}
	.title .url {
		visibility: hidden;
		position: absolute;
		z-index: -1;
	}

	.submit.fa {
		@include single-transition(all, .10s, ease-in-out);
		
		float: right;

		border: none;
		background-color: transparent;
		
		opacity: $opacity-submit-fa;
		
		&:hover { opacity: 1; }

		&.fa-trash-o {
			color: lighten($primary,32); //red;
		}
	}

	.toggles-search-buttons { 
		float: right;
	}

	.search {
		width: 100%;
	}

	#link-order-select {
	  	width: 100%;
		margin-bottom: 10px;
	}

	#UI-result > div {
		position: fixed;
		top: 0;
		right: 0;
		background-color: darken(green,20);
		color: green;
		border: 1px solid green; 
		padding: 10px;
	}

	#tabs .dropdown-menu {
		@include border-radius(0);
		background-color: #111;
		padding: 5px;
		box-shadow: 2px 2px 5px black;
		border: none;
	}

	#enableRefresh > li {
		width: 260px;
		position: relative;
	}

	.links-remove ,
	.links-edit {
		position: absolute;
		top: 8px;
		right: 10px;
	}
	.links-edit {
		right: 40px;
		.dropdown-menu {
			left: auto;
			right: 0;
		}
	}
	input.fa {
		height: initial;
	}

/*============================================================
    bordered links
============================================================*/
	.border-link img {
		border: 1px solid darken($gold,30);
	}

/*============================================================
    accordions
============================================================*/
	.panel-group .panel {
		@include border-radius(0);
		border: none;
		background-color: #111;
		&.panel-default > .panel-heading {
			@include border-radius(0);
			padding: 0;
			background-color: #222;
			color: #fff;
			a {
				padding: 10px;
				display: block;
			}
		}
	}

/*============================================================
    tabs
============================================================*/
	#tabs .list{
		@include single-transition(all, .1s, ease-in-out);
		//direction: rtl;
		padding: 0;
		box-shadow: 0 10px 20px 5px black;
		top: 55px;
		position: fixed;
		background-color: #111;
		//height: 100% !important;
		z-index: 1;
		width: 280px;
		left: -270px;
		opacity: .05;
		/*& > div {
			direction: ltr;
		}*/
		&:hover,
		&.active {
			left: 0;
			opacity: 1;
		}
		.link-list {
			text-align: left;
			padding: 5px 20px;
			min-height: 30px;
			&:focus {
				outline: none;
				box-shadow: 0 0 15px 0 black inset;
			}
		}
	}
	#tabs .scrollable.list { max-height: none;}

/*============================================================
    dock
============================================================*/
	.masonry-container {
		margin-top: 55px;
	}
	.dock {
		background-color: #111;
		box-shadow: 0 0 5px black;
		//position: fixed;
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		display: block;
		z-index: 1010;
		& > ul {
			position: relative;
			display: inline-block;
			margin-bottom: 5px;
			margin-top: 15px;
		}
		.dock-aspect {
			@extend .element;
			$dock-color: $element-bg-color;
			$dock-h: 50px;
			$aft-bfr-w: 20px;
			position: absolute;
			margin-bottom: 0;
			bottom: -10px;
			left: 0;
			display: block;
			display: none;
			background-color: $dock-color;
			background-image: url($element-mask);
			height: $dock-h;
			width: 100%;
			z-index: -1;
			transform: perspective( 150px ) rotateX( 50deg );
			/*
			&:after,&:before {
				position: absolute;
				top: 0;
				left: -$aft-bfr-w;
			    
				width: $aft-bfr-w;
				height: $dock-h;
				display: block;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 0 $dock-h $aft-bfr-w;
				border-color: transparent transparent $dock-color transparent;
			
				content: '';
				z-index: 2;
			}
			&:after{
				left: auto;
				right: -$aft-bfr-w;
				border-width: $dock-h 0 0 $aft-bfr-w;
				border-color: transparent transparent transparent $dock-color;
			}
			*/
		}
		.dock-icon {
			$cubic : 30px;
			$radius: 100%;
			@include box-shadow(0 0 5px 0 $dark);
			@include single-transition(all, .1s, ease-in-out);
			@include border-radius($radius);
			opacity: .8;
			width: $cubic;
			height: $cubic;
			margin-top: 10px;
			overflow: hidden;			
			//background-size: 100%;
			@include scale(1.0);
			
			&:hover {
				opacity: 1;
				@include scale(1.2);
			}
		}
		input.dock-icon { color: transparent; }
		.search {
			text-transform: uppercase;
			border: medium none;
			height: 50px;
			background: #111 none repeat scroll 0% 0%;
		}
		input:focus {
			box-shadow: none;
		}
	}

/*============================================================
    sprite or socio icons
============================================================*/

	/*
		how to use:

			/* create new folder called "icons" in image folder */
			/* check if images doesnt start with number or capitalized and uncomment bellow */
			
			/*
			@import "compass/utilities/sprites";
			@import "icons/*.png"; 
			@include all-icons-sprites;
			*/

			/* after running scss compilation "get name" of image rendered in parented folder (../) */

			/* check 

			  config.rb:      
			    images_dir = "assets/images"

		    HTML: =================================================

		    <ul class="list-inline someclass">
				<li><a href="#" class="sprite s1"></a></li>
				<li><a href="#" class="sprite s2"></a></li>
				<li><a href="#" class="sprite s3"></a></li>
		    </ul>
	    
		    SCSS: =================================================

		    .someclass {
				@include sprite(
					"/static/images/icons-s57c5ee8098.png",
					100px,
					3,
					horizontal (opcional)
				);
		    }
	*/
	@mixin sprite($src,$cubicsz:100px,$howmany:3,$bgsz:$cubicsz,$orientation:vertical) {

	  .sprite {
	    @include transition(all, .25s, ease-in-out);
	    display: inline-block;
	    width:  $cubicsz;
	    height: $cubicsz;
	    background-size: $bgsz;
	    background-image: url($src);

	    @for $i from 1 through $howmany {
	      &.#{s}#{$i+1} {
	        background-position: 0 (-$cubicsz*$i);
	        @if ($orientation!=vertical) { background-position: (-$cubicsz*$i) 0; }
	        opacity: 1;
	        &:hover {
	          //background-position: -$cubicsz*$i $cubicsz;
	          opacity: .5;
	        }
	      }
	    }

	  }

	}

	.socialicons {
		@include sprite(
			"../img/socio.png",
			30px,
			7,
			$orientation:horizontal
		);
		.sprite {
			background-size: 210px;
		}
	}

/*============================================================
    sidebar list
============================================================*/

	#sidebar-wrapper {
	    @include single-transition(all, .5s, ease-in-out);
	    margin-right: -100%;
	    right: 0;
	    top: 0;
	    width: 100%;
	    background: $element-bg-color;
	    position: absolute;
	    height: 100%;
	    @media (min-width: 768px){
		    overflow: hidden;    	
	    }
	    z-index: 1000;
	    textarea {
	    	width: 100%;
	    	height: 190px;
	    }
	}

	.sidebar-nav {
	    position: absolute;
	    top: 0;
	    width: 250px;
	    list-style: none;
	    margin: 0;
	    padding: 0;
	}

	#menu-toggle,#menu-close {
	    bottom: 0;
	    right: 0;
	    z-index: 1;
	    position: absolute;
	    border: medium none;
	    border-radius: 0px;
	    background-color: #000;
	}

	#sidebar-wrapper.active {
	    @include single-transition(all, .5s, ease-in-out);
	    right: 100%;
	    width: 100%;
	}

	.toggle {
	  	position: absolute;
		right: 0;
		bottom: 0;
	}

/*============================================================
    Modal
============================================================*/

	.modal-content {
		@include border-radius(0);
		background-color: $dark;
		border: 5px solid $bgc;
	}

	.modal-backdrop {
		z-index: 500;
	}

/*============================================================
    thumbnail for preview wallpapers
============================================================*/
	.thumbnail-preview {
		width: 150px;
		height: 100px;
		display: inline-block;
		border: 2px solid $bgc; 
		img {
			width: 100%;
			height: 100%;
		}
		&:hover { cursor: pointer; }
	}
	.thumbnail-preview + input {
		z-index: -1;
		visibility: hidden;
		position: absolute;
	}
	.wallpapers-form {
		overflow-y: scroll;
		max-height: 160px;
		display: inline-block;		
	}

/*============================================================
    autocomplete styles
============================================================*/
	.ui-widget-content {
	    border: none;
	    background: #111 none 50% 50% repeat-x !important;
	    color: #fff;
	    top: 50px !important;
	    left: auto !important;
	    width: 200px !important;
	    right: 15px !important;
	}

/*============================================================
    todo list
============================================================*/

	.warp-input-and-list {
		position: relative;
	}
	
	.todolist {
		list-style: none;
		padding: 0;
		overflow-y: scroll;
		max-height: 250px;
		label {
			font-weight: initial;
			position: relative;
			background: #111;
			height: 60px;
			line-height: 15px;
			margin: 0;
			border-bottom: 2px solid #0b0b0b;
			padding: 7px 0px;
			//overflow: hidden;
			background-image: url($arrow-url);
			background-size: 15px;
			background-repeat: no-repeat;
			background-position: right 15px top 15px;
			&:nth-child(n+4){
				box-shadow: inset 0 4px 2px -3px black;
			}
		}
	}

	.todolist a {
		display: block;
		vertical-align: middle;
		margin: auto 50px;
		color: #fff;
		text-decoration: none;
		max-height: 100%;
		overflow: hidden;
		h5 {
			font-weight: bold;
			margin: 0;
		}
		small { color: $gray; }
		p { 
			font-style: italic; 
			font-size: .8em;
			@extend %ellipsis;
		}
	}
	.todolist input[type="checkbox"].complete{
		position: absolute;
		margin-top: 15px;
		margin-left: 15px;
		z-index: 10;
		&:focus,&:active{outline:none !important;}
	}
	.todolist .complete:checked + label{
		background-color: darken($gold,20);
		small {
			&:after {
				content: ' (Done)';
			}
		}
	}

@import "media";
@import "webbuilder";