/* cd C:\wamp\www\HYTEK5\Elementary\elementary\ */
/*============================================================
    button / inputs / textareas ...
============================================================*/
/* line 46, ../sass/styles.scss */
button, textarea, input, select {
  border: none;
  background-color: #222;
  color: #fff;
}

/* line 68, ../sass/styles.scss */
html, body {
  height: 100%;
}

/* line 70, ../sass/styles.scss */
body {
  -moz-transition: all, 3s, ease-in-out;
  -o-transition: all, 3s, ease-in-out;
  -webkit-transition: all, 3s, ease-in-out;
  transition: all, 3s, ease-in-out;
  padding: 20px 0;
  background-color: #2F4F74;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* line 82, ../sass/styles.scss */
body:before {
  background: -moz-linear-gradient bottom, rgba(0, 0, 0, 0.5) 0%, #682525 100%;
  /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, left bottom, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(100%, #682525));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 0%, #682525 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient bottom, rgba(0, 0, 0, 0.5) 0%, #682525 100%;
  /* Opera 11.10+ */
  background: -ms-linear-gradient bottom, rgba(0, 0, 0, 0.5) 0%, #682525 100%;
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, #682525 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$f', endColorstr='$l',GradientType=0 );
  /* IE6-9 */
  content: "";
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
}
/* line 94, ../sass/styles.scss */
body:after {
  content: "";
  display: block;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.9;
  background-image: url("../../dependencies/img/noise.png");
  z-index: -1;
}

/* line 109, ../sass/styles.scss */
a {
  color: #fff;
}
/* line 111, ../sass/styles.scss */
a:hover {
  cursor: pointer;
}

/* line 114, ../sass/styles.scss */
.link-list, .clock {
  -moz-transition: color, 5s;
  -o-transition: color, 5s;
  -webkit-transition: color, 5s;
  transition: color, 5s;
}

/* line 118, ../sass/styles.scss */
.element, .dock .dock-aspect {
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: 2px 2px 5px 0 #000;
  -webkit-box-shadow: 2px 2px 5px 0 #000;
  box-shadow: 2px 2px 5px 0 #000;
  position: relative;
  margin-bottom: 20px;
  padding: 20px;
  color: #fff;
  background-color: #151515;
  background-image: url("../../dependencies/img/noise-diagonal.png");
  overflow: hidden;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/* line 134, ../sass/styles.scss */
.element .glass, .dock .dock-aspect .glass {
  -moz-transform: rotate(40deg) translate(50%, 0%) scale(2.5);
  -ms-transform: rotate(40deg) translate(50%, 0%) scale(2.5);
  -webkit-transform: rotate(40deg) translate(50%, 0%) scale(2.5);
  transform: rotate(40deg) translate(50%, 0%) scale(2.5);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  /*-------------*/
  bottom: 0;
  right: 0;
  width: 100px;
  height: 170px;
  /*-------------*/
  display: block;
  background-color: #fff;
  opacity: 0.05;
  content: '';
  z-index: 5;
  pointer-events: none;
}
/* line 162, ../sass/styles.scss */
.element:hover, .dock .dock-aspect:hover {
  -moz-box-shadow: 0 0 10px -2px #ffd133;
  -webkit-box-shadow: 0 0 10px -2px #ffd133;
  box-shadow: 0 0 10px -2px #ffd133;
}

/* line 167, ../sass/styles.scss */
.scrollable {
  overflow-y: scroll;
  max-height: 240px;
}
/* line 170, ../sass/styles.scss */
.scrollable.youtube {
  max-height: 150px;
}

/*============================================================
    youtubeminiplayer
============================================================*/
/* line 178, ../sass/styles.scss */
.player {
  text-align: center;
  padding: 10px 0;
  padding-bottom: 30px;
}

/* line 184, ../sass/styles.scss */
#player {
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 175px;
  height: 175px;
  border: 5px solid #1a1a1a;
  overflow: hidden;
}
/* line 196, ../sass/styles.scss */
#player:hover {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  width: 200%;
}

/* line 203, ../sass/styles.scss */
.element.expand, .dock .expand.dock-aspect {
  overflow: visible;
  z-index: 1;
}
/* line 206, ../sass/styles.scss */
.element.expand .player, .dock .expand.dock-aspect .player {
  padding: 0;
}
/* line 209, ../sass/styles.scss */
.element.expand #player, .dock .expand.dock-aspect #player {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  bottom: -225px;
  right: 0;
  width: 515px;
  height: 225px;
}

/* line 218, ../sass/styles.scss */
.player-controls {
  font-size: 1.5em;
  text-align: center;
}
/* line 222, ../sass/styles.scss */
.player-controls span {
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  margin: 0 5px;
}
/* line 226, ../sass/styles.scss */
.player-controls span:hover {
  color: #fff;
  cursor: pointer;
}

/* line 233, ../sass/styles.scss */
.youtube-list-rm-button {
  margin-right: 10px;
}

/* line 234, ../sass/styles.scss */
.youtube-list-thumbnail {
  width: 50px;
  margin-right: 10px;
}

/*============================================================
    clock
============================================================*/
/* line 242, ../sass/styles.scss */
.clock {
  display: block;
  text-align: center;
  font-size: 2.5em;
}

/*============================================================
    link list
============================================================*/
/* line 251, ../sass/styles.scss */
.link-list {
  display: block;
}

/* line 255, ../sass/styles.scss */
.submit.fa {
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  float: right;
  border: none;
  background-color: transparent;
  opacity: 0.1;
}
/* line 265, ../sass/styles.scss */
.submit.fa:hover {
  opacity: 1;
}
/* line 267, ../sass/styles.scss */
.submit.fa.fa-trash-o {
  color: #008cc3;
}

/* line 272, ../sass/styles.scss */
.toggles-search-buttons {
  float: right;
}

/* line 276, ../sass/styles.scss */
.search {
  width: 100%;
}

/* line 280, ../sass/styles.scss */
#link-order-select {
  width: 100%;
  margin-bottom: 10px;
}

/* line 285, ../sass/styles.scss */
#UI-result > div {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #001a00;
  color: green;
  border: 1px solid green;
  padding: 10px;
}

/* line 295, ../sass/styles.scss */
#tabs .dropdown-menu {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: #111;
  padding: 5px;
  box-shadow: 2px 2px 5px black;
  border: none;
}

/*============================================================
    bordered links
============================================================*/
/* line 306, ../sass/styles.scss */
.border-link img {
  border: 1px solid #664f00;
}

/*============================================================
    tabs
============================================================*/
/* line 313, ../sass/styles.scss */
#tabs .list {
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  direction: rtl;
  padding: 0;
  box-shadow: 0 10px 20px 5px black;
  top: 50px;
  position: fixed;
  left: 0;
  background-color: #111;
  height: 100% !important;
  z-index: 1;
  width: 300px;
  left: -290px;
  opacity: .05;
}
/* line 329, ../sass/styles.scss */
#tabs .list:hover, #tabs .list.active {
  left: 0;
  opacity: 1;
}
/* line 334, ../sass/styles.scss */
#tabs .list a {
  text-align: left;
  padding: 5px 20px;
}

/* line 339, ../sass/styles.scss */
#tabs .scrollable.list {
  max-height: none;
}

/*============================================================
    dock
============================================================*/
/* line 343, ../sass/styles.scss */
.masonry-container {
  margin-top: 55px;
}

/* line 346, ../sass/styles.scss */
.dock {
  background-color: #111;
  box-shadow: 0 0 5px black;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: block;
  z-index: 10;
}
/* line 355, ../sass/styles.scss */
.dock > ul {
  position: relative;
  display: inline-block;
  margin-bottom: 5px;
  margin-top: 15px;
}
/* line 361, ../sass/styles.scss */
.dock .dock-aspect {
  position: absolute;
  margin-bottom: 0;
  bottom: -10px;
  left: 0;
  display: block;
  display: none;
  background-color: #151515;
  background-image: url("../../dependencies/img/noise-diagonal.png");
  height: 50px;
  width: 100%;
  z-index: -1;
  transform: perspective(150px) rotateX(50deg);
  /*
  &:after,&:before {
  	position: absolute;
  	top: 0;
  	left: -$aft-bfr-w;
      
  	width: $aft-bfr-w;
  	height: $dock-h;
  	display: block;
  	width: 0;
  	height: 0;
  	border-style: solid;
  	border-width: 0 0 $dock-h $aft-bfr-w;
  	border-color: transparent transparent $dock-color transparent;
  
  	content: '';
  	z-index: 2;
  }
  &:after{
  	left: auto;
  	right: -$aft-bfr-w;
  	border-width: $dock-h 0 0 $aft-bfr-w;
  	border-color: transparent transparent transparent $dock-color;
  }
  */
}
/* line 404, ../sass/styles.scss */
.dock .dock-icon {
  -moz-box-shadow: 0 0 5px 0 #000;
  -webkit-box-shadow: 0 0 5px 0 #000;
  box-shadow: 0 0 5px 0 #000;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  overflow: hidden;
  opacity: .8;
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
/* line 417, ../sass/styles.scss */
.dock .dock-icon:hover {
  opacity: 1;
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}
/* line 422, ../sass/styles.scss */
.dock .search {
  text-transform: uppercase;
  border: medium none;
  height: 50px;
  background: transparent none repeat scroll 0% 0%;
}
/* line 428, ../sass/styles.scss */
.dock input:focus {
  box-shadow: none;
}

/* line 435, ../sass/styles.scss */
#sidebar-wrapper {
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  margin-right: -100%;
  right: 0;
  top: 0;
  width: 100%;
  background: #151515;
  position: absolute;
  height: 100%;
  overflow: hidden;
  z-index: 1000;
}
/* line 446, ../sass/styles.scss */
#sidebar-wrapper textarea {
  width: 100%;
  height: 190px;
}

/* line 452, ../sass/styles.scss */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 461, ../sass/styles.scss */
#menu-toggle {
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}

/* line 468, ../sass/styles.scss */
#sidebar-wrapper.active {
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  right: 100%;
  width: 100%;
}

/* line 474, ../sass/styles.scss */
.toggle {
  position: absolute;
  right: 0;
  bottom: 0;
}

/*
.cke_top {
	position: fixed !important;
	bottom: 100px !important;
}
*/
/*============================================================
    Modal
============================================================*/
/* line 491, ../sass/styles.scss */
.modal-content {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: #000;
  border: 5px solid #2F4F74;
}

/* line 497, ../sass/styles.scss */
.modal-backdrop {
  z-index: 500;
}
