/* cd C:\wamp\www\HYTEK5\Elementary\elementary\ */
/*============================================================
    variables
============================================================*/
/*============================================================
    button / inputs / textareas ...
============================================================*/
/* line 45, ../sass/styles.scss */
button, textarea, input, select {
  border: none;
  background-color: #222;
  color: #fff;
}

/*============================================================
    global
============================================================*/
/* line 69, ../sass/styles.scss */
html, body {
  height: 100%;
}

/* line 71, ../sass/styles.scss */
body {
  -moz-transition: all, 3s, ease-in-out;
  -o-transition: all, 3s, ease-in-out;
  -webkit-transition: all, 3s, ease-in-out;
  transition: all, 3s, ease-in-out;
  padding: 20px 0;
  background-color: #111;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  /*
  &:before {
  	@include gradient(rgba(0,0,0,0.5),$gradient,bottom);
  	content: "";
  	display: block;
  	position: fixed;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	z-index: -2;
  }	
  */
}
/* line 97, ../sass/styles.scss */
body:after {
  content: "";
  display: block;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.9;
  background-image: url("../../dependencies/img/noise.png");
  z-index: -1;
}

/* line 112, ../sass/styles.scss */
a {
  color: #fff;
}
/* line 114, ../sass/styles.scss */
a:hover {
  cursor: pointer;
}

/*============================================================
    header
============================================================*/
/* line 122, ../sass/styles.scss */
#searchform button {
  background-color: transparent;
  padding: 0;
}
/* line 126, ../sass/styles.scss */
#searchform li {
  height: 40px;
  line-height: 45px;
}

/*============================================================
    glass element
============================================================*/
/* line 136, ../sass/styles.scss */
.element, .dock .dock-aspect {
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: 2px 2px 5px 0 #000;
  -webkit-box-shadow: 2px 2px 5px 0 #000;
  box-shadow: 2px 2px 5px 0 #000;
  position: relative;
  margin-bottom: 20px;
  padding: 20px;
  color: #fff;
  background-color: #151515;
  background-image: url("../../dependencies/img/noise-diagonal.png");
  overflow: hidden;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/* line 152, ../sass/styles.scss */
.element .glass, .dock .dock-aspect .glass {
  -moz-transform: rotate(40deg) translate(50%, 0%) scale(2.5);
  -ms-transform: rotate(40deg) translate(50%, 0%) scale(2.5);
  -webkit-transform: rotate(40deg) translate(50%, 0%) scale(2.5);
  transform: rotate(40deg) translate(50%, 0%) scale(2.5);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  /*-------------*/
  bottom: 0;
  right: 0;
  width: 100px;
  height: 170px;
  /*-------------*/
  display: block;
  background-color: #fff;
  opacity: 0.05;
  content: '';
  z-index: 5;
  pointer-events: none;
}
/* line 180, ../sass/styles.scss */
.element:hover, .dock .dock-aspect:hover {
  -moz-box-shadow: 0 0 10px -2px #ffd133;
  -webkit-box-shadow: 0 0 10px -2px #ffd133;
  box-shadow: 0 0 10px -2px #ffd133;
}

/* line 185, ../sass/styles.scss */
.scrollable {
  overflow-y: scroll;
  max-height: 240px;
}
/* line 188, ../sass/styles.scss */
.scrollable.youtube {
  max-height: 150px;
}

/*============================================================
    youtubeminiplayer
============================================================*/
/* line 196, ../sass/styles.scss */
.player {
  text-align: center;
  padding: 10px 0;
  padding-bottom: 30px;
}

/* line 202, ../sass/styles.scss */
#player {
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 175px;
  height: 175px;
  border: 5px solid #1a1a1a;
  overflow: hidden;
}
/* line 214, ../sass/styles.scss */
#player:hover {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  width: 200%;
}

/* line 221, ../sass/styles.scss */
.element.expand, .dock .expand.dock-aspect {
  overflow: visible;
  z-index: 1;
}
/* line 224, ../sass/styles.scss */
.element.expand .player, .dock .expand.dock-aspect .player {
  padding: 0;
}
/* line 227, ../sass/styles.scss */
.element.expand #player, .dock .expand.dock-aspect #player {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  bottom: -225px;
  right: 0;
  width: 515px;
  height: 225px;
}

/* line 236, ../sass/styles.scss */
.player-controls {
  font-size: 1.5em;
  text-align: center;
}
/* line 240, ../sass/styles.scss */
.player-controls span {
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  margin: 0 5px;
}
/* line 244, ../sass/styles.scss */
.player-controls span:hover {
  color: #fff;
  cursor: pointer;
}

/* line 251, ../sass/styles.scss */
.youtube-list-rm-button {
  margin-right: 10px;
}

/* line 252, ../sass/styles.scss */
.youtube-list-thumbnail {
  width: 50px;
  margin-right: 10px;
}

/*============================================================
    clock
============================================================*/
/* line 260, ../sass/styles.scss */
.clock {
  display: block;
  text-align: center;
  font-size: 2.5em;
}

/*============================================================
    link list
============================================================*/
/* line 269, ../sass/styles.scss */
.link-list {
  display: block;
}

/* line 272, ../sass/styles.scss */
.title .url {
  visibility: hidden;
  position: absolute;
  z-index: -1;
}

/* line 278, ../sass/styles.scss */
.submit.fa {
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  float: right;
  border: none;
  background-color: transparent;
  opacity: 0.1;
}
/* line 288, ../sass/styles.scss */
.submit.fa:hover {
  opacity: 1;
}
/* line 290, ../sass/styles.scss */
.submit.fa.fa-trash-o {
  color: #008cc3;
}

/* line 295, ../sass/styles.scss */
.toggles-search-buttons {
  float: right;
}

/* line 299, ../sass/styles.scss */
.search {
  width: 100%;
}

/* line 303, ../sass/styles.scss */
#link-order-select {
  width: 100%;
  margin-bottom: 10px;
}

/* line 308, ../sass/styles.scss */
#UI-result > div {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #001a00;
  color: green;
  border: 1px solid green;
  padding: 10px;
}

/* line 318, ../sass/styles.scss */
#tabs .dropdown-menu {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: #111;
  padding: 5px;
  box-shadow: 2px 2px 5px black;
  border: none;
}

/*============================================================
    bordered links
============================================================*/
/* line 329, ../sass/styles.scss */
.border-link img {
  border: 1px solid #664f00;
}

/*============================================================
    tabs
============================================================*/
/* line 336, ../sass/styles.scss */
#tabs .list {
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  direction: rtl;
  padding: 0;
  box-shadow: 0 10px 20px 5px black;
  top: 50px;
  position: fixed;
  background-color: #111;
  height: 100% !important;
  z-index: 1;
  width: 300px;
  left: -290px;
  opacity: .05;
}
/* line 350, ../sass/styles.scss */
#tabs .list > div {
  direction: ltr;
}
/* line 353, ../sass/styles.scss */
#tabs .list:hover, #tabs .list.active {
  left: 0;
  opacity: 1;
}
/* line 358, ../sass/styles.scss */
#tabs .list .link-list {
  text-align: left;
  padding: 5px 20px;
}
/* line 361, ../sass/styles.scss */
#tabs .list .link-list:focus {
  outline: none;
  box-shadow: 0 0 15px 0 black inset;
}

/* line 367, ../sass/styles.scss */
#tabs .scrollable.list {
  max-height: none;
}

/*============================================================
    dock
============================================================*/
/* line 372, ../sass/styles.scss */
.masonry-container {
  margin-top: 55px;
}

/* line 375, ../sass/styles.scss */
.dock {
  background-color: #111;
  box-shadow: 0 0 5px black;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: block;
  z-index: 10;
}
/* line 384, ../sass/styles.scss */
.dock > ul {
  position: relative;
  display: inline-block;
  margin-bottom: 5px;
  margin-top: 15px;
}
/* line 390, ../sass/styles.scss */
.dock .dock-aspect {
  position: absolute;
  margin-bottom: 0;
  bottom: -10px;
  left: 0;
  display: block;
  display: none;
  background-color: #151515;
  background-image: url("../../dependencies/img/noise-diagonal.png");
  height: 50px;
  width: 100%;
  z-index: -1;
  transform: perspective(150px) rotateX(50deg);
  /*
  &:after,&:before {
  	position: absolute;
  	top: 0;
  	left: -$aft-bfr-w;
      
  	width: $aft-bfr-w;
  	height: $dock-h;
  	display: block;
  	width: 0;
  	height: 0;
  	border-style: solid;
  	border-width: 0 0 $dock-h $aft-bfr-w;
  	border-color: transparent transparent $dock-color transparent;
  
  	content: '';
  	z-index: 2;
  }
  &:after{
  	left: auto;
  	right: -$aft-bfr-w;
  	border-width: $dock-h 0 0 $aft-bfr-w;
  	border-color: transparent transparent transparent $dock-color;
  }
  */
}
/* line 433, ../sass/styles.scss */
.dock .dock-icon {
  -moz-box-shadow: 0 0 5px 0 #000;
  -webkit-box-shadow: 0 0 5px 0 #000;
  box-shadow: 0 0 5px 0 #000;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  overflow: hidden;
  opacity: .8;
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
/* line 446, ../sass/styles.scss */
.dock .dock-icon:hover {
  opacity: 1;
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}
/* line 451, ../sass/styles.scss */
.dock .search {
  text-transform: uppercase;
  border: medium none;
  height: 50px;
  background: transparent none repeat scroll 0% 0%;
}
/* line 457, ../sass/styles.scss */
.dock input:focus {
  box-shadow: none;
}

/*============================================================
    sidebar list
============================================================*/
/* line 466, ../sass/styles.scss */
#sidebar-wrapper {
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  margin-right: -100%;
  right: 0;
  top: 0;
  width: 100%;
  background: #151515;
  position: absolute;
  height: 100%;
  overflow: hidden;
  z-index: 1000;
}
/* line 477, ../sass/styles.scss */
#sidebar-wrapper textarea {
  width: 100%;
  height: 190px;
}

/* line 483, ../sass/styles.scss */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 492, ../sass/styles.scss */
#menu-toggle {
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}

/* line 499, ../sass/styles.scss */
#sidebar-wrapper.active {
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  right: 100%;
  width: 100%;
}

/* line 505, ../sass/styles.scss */
.toggle {
  position: absolute;
  right: 0;
  bottom: 0;
}

/*============================================================
    Modal
============================================================*/
/* line 515, ../sass/styles.scss */
.modal-content {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: #000;
  border: 5px solid #111;
}

/* line 521, ../sass/styles.scss */
.modal-backdrop {
  z-index: 500;
}
