/* cd C:\wamp\www\HYTEK5\Elementary\elementary\ */
/*============================================================
    variables
============================================================*/
/*============================================================
    button / inputs / textareas ...
============================================================*/
/* line 45, ../sass/styles.scss */
button, textarea, input, select {
  border: none;
  background-color: #222;
  color: #fff;
  line-height: 30px;
  margin-bottom: 5px;
  padding: 0 8px;
  height: 30px;
}

/* line 55, ../sass/styles.scss */
textarea {
  -moz-box-shadow: inset 0 0 4px 1px #000;
  -webkit-box-shadow: inset 0 0 4px 1px #000;
  box-shadow: inset 0 0 4px 1px #000;
  height: auto;
  line-height: 20px;
  padding: 10px;
}

/* line 63, ../sass/styles.scss */
select option {
  padding: 10px 10px;
}
/* line 65, ../sass/styles.scss */
select option:hover, select option:checked {
  box-shadow: inset 0 40px #444;
  cursor: pointer;
}

/*============================================================
    global
============================================================*/
/* line 91, ../sass/styles.scss */
html, body {
  height: 100%;
}

/* line 93, ../sass/styles.scss */
body {
  -moz-transition: all, 3s, ease-in-out;
  -o-transition: all, 3s, ease-in-out;
  -webkit-transition: all, 3s, ease-in-out;
  transition: all, 3s, ease-in-out;
  padding: 20px 0;
  background-color: #111;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  /*
  &:before {
  	@include gradient(rgba(0,0,0,0.5),$gradient,bottom);
  	content: "";
  	display: block;
  	position: fixed;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	z-index: -2;
  }	
  */
}
/* line 119, ../sass/styles.scss */
body:after {
  content: "";
  display: block;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.9;
  background-image: url("../../dependencies/img/noise.png");
  z-index: -1;
}

/* line 134, ../sass/styles.scss */
a {
  color: #fff;
}
/* line 136, ../sass/styles.scss */
a:hover {
  cursor: pointer;
}

/*============================================================
    INPUT TYPE FILE
============================================================*/
/* line 163, ../sass/styles.scss */
input[type="file"] {
  visibility: hidden;
  position: absolute;
}
/* line 147, ../sass/styles.scss */
input[type="file"] + label {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 1px solid #fff;
  display: block;
}
/* line 152, ../sass/styles.scss */
input[type="file"] + label.has-file {
  border: 1px solid #ffc600;
  color: #ffc600;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*============================================================
    header
============================================================*/
/* line 172, ../sass/styles.scss */
#searchform button {
  background-color: transparent;
  padding: 0;
}
/* line 176, ../sass/styles.scss */
#searchform li {
  height: 40px;
}

/* line 181, ../sass/styles.scss */
#autocomplete {
  position: absolute;
  text-transform: uppercase;
  line-height: 50px;
  right: 0;
}

/*============================================================
    well
============================================================*/
/* line 192, ../sass/styles.scss */
.well {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none;
}

/*============================================================
    glass element
============================================================*/
/* line 201, ../sass/styles.scss */
.element, .dock .dock-aspect {
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: 2px 2px 5px 0 #000;
  -webkit-box-shadow: 2px 2px 5px 0 #000;
  box-shadow: 2px 2px 5px 0 #000;
  position: relative;
  margin-bottom: 20px;
  padding: 20px;
  color: #fff;
  background-color: #151515;
  background-image: url("../../dependencies/img/noise-diagonal.png");
  overflow: hidden;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/* line 217, ../sass/styles.scss */
.element .glass, .dock .dock-aspect .glass {
  -moz-transform: rotate(40deg) translate(50%, 0%) scale(2.5);
  -ms-transform: rotate(40deg) translate(50%, 0%) scale(2.5);
  -webkit-transform: rotate(40deg) translate(50%, 0%) scale(2.5);
  transform: rotate(40deg) translate(50%, 0%) scale(2.5);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  /*-------------*/
  bottom: 0;
  right: 0;
  width: 100px;
  height: 170px;
  /*-------------*/
  display: block;
  background-color: #fff;
  opacity: 0.05;
  content: '';
  z-index: 5;
  pointer-events: none;
}
/* line 245, ../sass/styles.scss */
.element:hover, .dock .dock-aspect:hover {
  -moz-box-shadow: 0 0 10px -2px #ffd133;
  -webkit-box-shadow: 0 0 10px -2px #ffd133;
  box-shadow: 0 0 10px -2px #ffd133;
}

/* line 250, ../sass/styles.scss */
.scrollable {
  overflow-y: scroll;
  max-height: 240px;
}
/* line 253, ../sass/styles.scss */
.scrollable.youtube {
  max-height: 150px;
}

/*============================================================
    youtubeminiplayer
============================================================*/
/* line 261, ../sass/styles.scss */
.player {
  text-align: center;
  padding: 10px 0;
  padding-bottom: 30px;
}

/* line 267, ../sass/styles.scss */
#player {
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 175px;
  height: 175px;
  border: 5px solid #1a1a1a;
  overflow: hidden;
}
/* line 279, ../sass/styles.scss */
#player:hover {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  width: 200%;
}

/* line 286, ../sass/styles.scss */
.element.expand, .dock .expand.dock-aspect {
  overflow: visible;
  z-index: 1;
}
/* line 289, ../sass/styles.scss */
.element.expand .player, .dock .expand.dock-aspect .player {
  padding: 0;
}
/* line 292, ../sass/styles.scss */
.element.expand #player, .dock .expand.dock-aspect #player {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  bottom: -225px;
  right: 0;
  width: 515px;
  height: 225px;
}

/* line 301, ../sass/styles.scss */
.player-controls {
  font-size: 1.5em;
  text-align: center;
}
/* line 305, ../sass/styles.scss */
.player-controls span {
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  margin: 0 5px;
}
/* line 309, ../sass/styles.scss */
.player-controls span:hover {
  color: #fff;
  cursor: pointer;
}

/* line 316, ../sass/styles.scss */
.youtube-list-rm-button {
  margin-right: 10px;
}

/* line 317, ../sass/styles.scss */
.youtube-list-thumbnail {
  width: 50px;
  margin-right: 10px;
}

/*============================================================
    clock
============================================================*/
/* line 325, ../sass/styles.scss */
.clock {
  display: block;
  text-align: center;
  font-size: 2.5em;
}

/*============================================================
    link list
============================================================*/
/* line 334, ../sass/styles.scss */
.link-list {
  display: block;
}

/* line 337, ../sass/styles.scss */
.title .url {
  visibility: hidden;
  position: absolute;
  z-index: -1;
}

/* line 343, ../sass/styles.scss */
.submit.fa {
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  float: right;
  border: none;
  background-color: transparent;
  opacity: 0.1;
}
/* line 353, ../sass/styles.scss */
.submit.fa:hover {
  opacity: 1;
}
/* line 355, ../sass/styles.scss */
.submit.fa.fa-trash-o {
  color: #008cc3;
}

/* line 360, ../sass/styles.scss */
.toggles-search-buttons {
  float: right;
}

/* line 364, ../sass/styles.scss */
.search {
  width: 100%;
}

/* line 368, ../sass/styles.scss */
#link-order-select {
  width: 100%;
  margin-bottom: 10px;
}

/* line 373, ../sass/styles.scss */
#UI-result > div {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #001a00;
  color: green;
  border: 1px solid green;
  padding: 10px;
}

/* line 383, ../sass/styles.scss */
#tabs .dropdown-menu {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: #111;
  padding: 5px;
  box-shadow: 2px 2px 5px black;
  border: none;
}

/* line 391, ../sass/styles.scss */
#enableRefresh > li {
  position: relative;
}

/* line 395, ../sass/styles.scss */
.links-remove,
.links-edit {
  position: absolute;
  top: 8px;
  right: 10px;
}

/* line 401, ../sass/styles.scss */
.links-edit {
  right: 40px;
}
/* line 403, ../sass/styles.scss */
.links-edit .dropdown-menu {
  left: auto;
  right: 0;
}

/* line 408, ../sass/styles.scss */
input.fa {
  height: initial;
}

/*============================================================
    bordered links
============================================================*/
/* line 415, ../sass/styles.scss */
.border-link img {
  border: 1px solid #664f00;
}

/*============================================================
    accordions
============================================================*/
/* line 422, ../sass/styles.scss */
.panel-group .panel {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none;
  background-color: #111;
}
/* line 426, ../sass/styles.scss */
.panel-group .panel.panel-default > .panel-heading {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 0;
  background-color: #333;
  color: #fff;
}
/* line 431, ../sass/styles.scss */
.panel-group .panel.panel-default > .panel-heading a {
  padding: 10px;
  display: block;
}

/*============================================================
    tabs
============================================================*/
/* line 441, ../sass/styles.scss */
#tabs .list {
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  padding: 0;
  box-shadow: 0 10px 20px 5px black;
  top: 55px;
  position: fixed;
  background-color: #111;
  z-index: 1;
  width: 280px;
  left: -270px;
  opacity: .05;
  /*& > div {
  	direction: ltr;
  }*/
}
/* line 457, ../sass/styles.scss */
#tabs .list:hover, #tabs .list.active {
  left: 0;
  opacity: 1;
}
/* line 462, ../sass/styles.scss */
#tabs .list .link-list {
  text-align: left;
  padding: 5px 20px;
}
/* line 465, ../sass/styles.scss */
#tabs .list .link-list:focus {
  outline: none;
  box-shadow: 0 0 15px 0 black inset;
}

/* line 471, ../sass/styles.scss */
#tabs .scrollable.list {
  max-height: none;
}

/*============================================================
    dock
============================================================*/
/* line 476, ../sass/styles.scss */
.masonry-container {
  margin-top: 55px;
}

/* line 479, ../sass/styles.scss */
.dock {
  background-color: #111;
  box-shadow: 0 0 5px black;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: block;
  z-index: 10;
}
/* line 489, ../sass/styles.scss */
.dock > ul {
  position: relative;
  display: inline-block;
  margin-bottom: 5px;
  margin-top: 15px;
}
/* line 495, ../sass/styles.scss */
.dock .dock-aspect {
  position: absolute;
  margin-bottom: 0;
  bottom: -10px;
  left: 0;
  display: block;
  display: none;
  background-color: #151515;
  background-image: url("../../dependencies/img/noise-diagonal.png");
  height: 50px;
  width: 100%;
  z-index: -1;
  transform: perspective(150px) rotateX(50deg);
  /*
  &:after,&:before {
  	position: absolute;
  	top: 0;
  	left: -$aft-bfr-w;
      
  	width: $aft-bfr-w;
  	height: $dock-h;
  	display: block;
  	width: 0;
  	height: 0;
  	border-style: solid;
  	border-width: 0 0 $dock-h $aft-bfr-w;
  	border-color: transparent transparent $dock-color transparent;
  
  	content: '';
  	z-index: 2;
  }
  &:after{
  	left: auto;
  	right: -$aft-bfr-w;
  	border-width: $dock-h 0 0 $aft-bfr-w;
  	border-color: transparent transparent transparent $dock-color;
  }
  */
}
/* line 538, ../sass/styles.scss */
.dock .dock-icon {
  -moz-box-shadow: 0 0 5px 0 #000;
  -webkit-box-shadow: 0 0 5px 0 #000;
  box-shadow: 0 0 5px 0 #000;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  opacity: .8;
  width: 30px;
  height: 30px;
  margin-top: 10px;
  overflow: hidden;
  background-size: 100%;
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
/* line 552, ../sass/styles.scss */
.dock .dock-icon:hover {
  opacity: 1;
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}
/* line 557, ../sass/styles.scss */
.dock input.dock-icon {
  color: transparent;
}
/* line 558, ../sass/styles.scss */
.dock .search {
  text-transform: uppercase;
  border: medium none;
  height: 50px;
  background: #111 none repeat scroll 0% 0%;
}
/* line 564, ../sass/styles.scss */
.dock input:focus {
  box-shadow: none;
}

/*============================================================
    sidebar list
============================================================*/
/* line 573, ../sass/styles.scss */
#sidebar-wrapper {
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  margin-right: -100%;
  right: 0;
  top: 0;
  width: 100%;
  background: #151515;
  position: absolute;
  height: 100%;
  overflow: hidden;
  z-index: 1000;
}
/* line 584, ../sass/styles.scss */
#sidebar-wrapper textarea {
  width: 100%;
  height: 190px;
}

/* line 590, ../sass/styles.scss */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 599, ../sass/styles.scss */
#menu-toggle, #menu-close {
  bottom: 0;
  right: 0;
  z-index: 1;
  position: absolute;
  border: medium none;
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0.8);
}

/* line 609, ../sass/styles.scss */
#sidebar-wrapper.active {
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  right: 100%;
  width: 100%;
}

/* line 615, ../sass/styles.scss */
.toggle {
  position: absolute;
  right: 0;
  bottom: 0;
}

/*============================================================
    Modal
============================================================*/
/* line 625, ../sass/styles.scss */
.modal-content {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: #000;
  border: 5px solid #111;
}

/* line 631, ../sass/styles.scss */
.modal-backdrop {
  z-index: 500;
}

@media (max-width: 1199px) {
  /* line 3, ../sass/media.scss */
  body > .container-fluid {
    margin-top: 50px;
  }
}
@media (max-width: 767px) {
  /* line 9, ../sass/media.scss */
  .dock {
    position: fixed;
  }

  /* line 12, ../sass/media.scss */
  body > .container-fluid {
    margin-top: 50px;
  }
}
