@import "compass/css3";
$dark : #111;
$white : #fff;
$gray: #444;

$border-radius-base: 0;
$border-style: 1px solid $gray;

body {
	background-color: $dark;
	color: $white;
}

input, textarea , select {
	@include border-radius($border-radius-base);
	color: #bbb;
	background-color: #222;
	border: $border-style;
	padding: 3px 5px;
}

textarea {
	width: 100%;
	//min-height: 500px;
}

.container {
	padding-top: 20px;
	padding-bottom: 20px;
}