/* cd C:\wamp\www\HYTEK5\Elementary\elementary\ */
@import "compass/css3";

// custom styles ?

$custom-styles 			: false;  




// colors

$primary				: #001720;
$brand-primary			: $primary;
$dark 					: #000;
$light 					: #fff;
$body-bg 				: $light;
$gray 					: #555;
$bgc 					: #2F4F74;
$gradient 				: #682525;
$links 					: #fff;
$gold  					: #ffc600;


// mask for making wall having some texture

$mask  					: "../../dependencies/img/noise.png"; 	
$mask-opacity 			: .9;

$element-bg-color		: #151515; //#090A0E;
$element-color			: $light;
$element-padding		: 20px;
$element-mask 			: "../../dependencies/img/noise-diagonal.png";

$glass-opacity 			: .05;
$opacity-submit-fa 		: .1;

$input-color 			: $dark;



// FIX OF SAFARI COLOR TO TRANSPARENT
	@mixin gradient($f,$l,$o:top,$start:0%,$end:100%) {
		@if($f==transparent){$f:rgba(255,255,255,0)}
		@if($l==transparent){$l:rgba(255,255,255,0)}
		background: -moz-linear-gradient   ($o,  $f $start, $l $end); /* FF3.6+ */
		background: -webkit-gradient(linear, left $o, left bottom, color-stop($start,$f), color-stop($end,$l)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient($o,  $f $start,$l $end); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient     ($o,  $f $start,$l $end); /* Opera 11.10+ */
		background: -ms-linear-gradient    ($o,  $f $start,$l $end); /* IE10+ */
		background: linear-gradient(     to $o,  $f $start,$l $end); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$f', endColorstr='$l',GradientType=0 ); /* IE6-9 */
	}


	/*============================================================
	    button / inputs / textareas ...
	============================================================*/

	/* btn */
	$btn-radius           :   0;
	$btn-border           :   0 solid $body-bg;
	$btn-uppercase        :   true;
	$btn-enable-shadow    :   true;
	  $btn-shadow          :   2px 2px 5px 0 $gray;

	/* primary button */
	$primary-bg-c         :   $brand-primary;
	$primary-color        :   $body-bg;

	/* inputs */
	$input-radius         :   0;
	$input-border         :   1px solid darken($gold,30);
	$input-color          :   $primary-color;  
	$input-bottom-margin  :   0;
	$input-padding        :   2px 8px;
	$input-bgc 			  :   lighten($dark,15);

	$colored-placeholder  :   false;        /* colorizes placeholder */
	  $placeholder-color   :   $brand-primary;

	/* extend form-control styles */
	$extend-form-ctrl    :   false;
	  $submit-as-block    :   false;        /* submit button as block */

	/* selection style */
	$selection-bg-c      :   $light;
	$selection-color     :   $dark;
	$colored-labels      :   true;
	  $label-color        :   $brand-primary;

	.btn {
	  @include border-radius($btn-radius);
	  border: $btn-border;
	  @if ($btn-uppercase == true) {      text-transform: uppercase; }
	  @if ($btn-enable-shadow == true) {  @include box-shadow($btn-shadow); }
	}

	.btn-primary {
	  background-color: $primary-bg-c;
	  color: $primary-color;
	}

	input ,input[type="submit"] , select , button , textarea {
	    
	  @if ($extend-form-ctrl == true) { @extend .form-control; }
	  @include border-radius($input-radius);
	  
	  display: inline-block;
	  
	  padding: $input-padding;
	  margin-bottom: $input-bottom-margin;
	  border: $input-border;
	  
	  color: $input-color;

	  background-color: $input-bgc;

	  &:focus {
	    border-color: $brand-primary;
	    box-shadow: 0px 1px 1px $brand-primary inset, 
	                0px 0px 8px darken($gold,30);
	  }
	}

	*::-moz-selection { 
	  background: $selection-bg-c; 
	  color: $selection-color;
	}
	*::selection { 
	  background: $selection-bg-c; 
	  color: $selection-color;
	}

	@if ($colored-labels == true) {
	  label , strong { color: $label-color; }
	}

	@if ($submit-as-block == false) {
	  input[type="submit"] { width: auto; }
	}

	@if ($colored-placeholder == true) {
	  input , textarea {
	    &::-webkit-input-placeholder {  color: $placeholder-color; }
	    &:-moz-placeholder {            color: $placeholder-color; }
	    &::-moz-placeholder {           color: $placeholder-color; }
	    &:-ms-input-placeholder {       color: $placeholder-color; }
	  }
	}

	input[type="file"] {width: 100%;}
	select > option:hover {
		background-color: darken($gold,30);
		color: $dark;
	}


// FIX OF SAFARI COLOR TO TRANSPARENT
	@mixin gradient($f,$l,$o:top,$start:0%,$end:100%) {
		@if($f==transparent){$f:rgba(255,255,255,0)}
		@if($l==transparent){$l:rgba(255,255,255,0)}
		background: -moz-linear-gradient   ($o,  $f $start, $l $end); /* FF3.6+ */
		background: -webkit-gradient(linear, left $o, left bottom, color-stop($start,$f), color-stop($end,$l)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient($o,  $f $start,$l $end); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient     ($o,  $f $start,$l $end); /* Opera 11.10+ */
		background: -ms-linear-gradient    ($o,  $f $start,$l $end); /* IE10+ */
		background: linear-gradient(     to $o,  $f $start,$l $end); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$f', endColorstr='$l',GradientType=0 ); /* IE6-9 */
	}



html, body {	height: 100%;  }

body {

	@include transition(all, 3s, ease-in-out);
	//@include gradient($dark,$primary,top);

	padding: 20px 0;

	background-color: $bgc;
	//background-attachment: fixed;
	&:before {
		@include gradient(rgba(0,0,0,0.8),$gradient,bottom);
		content: "";
		display: block;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -2;
	}	

	&:after {
	    content: "";
	    display: block;
	    position: fixed;
	    top: 0px;
	    right: 0px;
	    bottom: 0px;
	    left: 0px;
	    opacity: $mask-opacity;
	    background-image: url($mask);	
	    z-index: -1;
	}
	
}

a { color: $links; } 

.link-list,.clock {
	@include transition(color, 5s);
}

.element {
	@include border-radius(1px);
	@include box-shadow(2px 2px 5px 0 $dark);
	
	position: relative;

	margin-bottom: 20px;
	padding: $element-padding;

	color: $element-color;

	background-color: $element-bg-color;
	background-image: url($element-mask);

	overflow: hidden;

	.glass {
		@include transform(rotate(40deg) translate(50%,0%) scale(2.5));
	
		position: absolute;
		top: 50%;
		left: 50%;
		
		width: 100%;
		height: 100%;
		/*-------------*/
		bottom: 0;
		right: 0;
		
		width: 100px;
		height: 170px;
		/*-------------*/

		display: block;
		
		background-color: $light;
		opacity: $glass-opacity;
		content: '';
		z-index: 100;

		pointer-events: none;
	}
	@include single-transition(all, .1s, ease-in-out);
	
	&:hover {
		@include box-shadow(0 0 10px -2px lighten($gold,10));
	}
}

input,button,select{
	color: $input-color;
}

.scrollable {
	max-height: 240px;
	overflow-y: scroll;
}

/*============================================================
    youtubeminiplayer
============================================================*/
$yt-hoverToExpend : true;

.player {
	text-align: center;
	padding: 10px 0;
	padding-bottom: 30px;
}

#player {
	@include border-radius(100%);
	@include single-transition(all, .25s, ease-in-out);

	width: 175px;
	height: 175px;

	border: 5px solid lighten($dark,10); ;

	overflow: hidden;

	@if ($yt-hoverToExpend == true) {
		&:hover {
			@include border-radius(0);
			width: 200%;
		}
	}

}
.element.expand {
	overflow: visible;
	z-index: 1;
	.player {
		padding: 0;
	}
	#player {
		@include border-radius(0);
		bottom: -225px;
		right: 0;
		width: 515px;
		height: 225px;
	}
} 

.player-controls {
	font-size: 1.5em;
	text-align: center;

	span {
		@include single-transition(all, .25s, ease-in-out);
		margin: 0 5px;

		&:hover { 
			color: $light; 
			cursor: pointer; 
		}
	}
}

/*============================================================
    clock
============================================================*/
.clock {
	display: block;
	text-align: center;
	font-size: 2.5em;
}

/*============================================================
    link list
============================================================*/
.link-list {
	display: block;
}

.submit.fa {
	@include single-transition(all, .10s, ease-in-out);
	
	float: right;

	border: none;
	background-color: transparent;
	
	opacity: $opacity-submit-fa;
	
	&:hover { opacity: 1; }

	&.fa-trash-o {
		color: lighten($primary,32); //red;
	}
}

.toggles-search-buttons { 
	float: right;
}

.search {
	width: 100%;
}

#link-order-select {
  	width: 100%;
	margin-bottom: 10px;
}

#searchform {
	margin-bottom: 10px;
}

#UI-result > div {
	position: fixed;
	top: 0;
	right: 0;
	background-color: darken(green,20);
	color: green;
	border: 1px solid green; 
	padding: 10px;
}

#tabs .dropdown-menu {
	@include border-radius(0);
	background-color: #111;
	padding: 5px;
	box-shadow: 2px 2px 5px black;
	border: none;
}

/*============================================================
    bordered links
============================================================*/
.border-link img {
	border: 1px solid darken($gold,30);
}

/*============================================================
    dock
============================================================*/

.dock {
	background-color: #1f1f1f;
	box-shadow: 0 0 5px black;
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	display: block;
	ul {
		position: relative;
		display: inline-block;
		margin-bottom: 5px;
		margin-top: 15px;
	}
	.dock-aspect {
		@extend .element;
		$dock-color: $element-bg-color;
		$dock-h: 50px;
		$aft-bfr-w: 20px;
		position: absolute;
		margin-bottom: 0;
		bottom: -10px;
		left: 0;
		display: block;
		display: none;
		background-color: $dock-color;
		background-image: url($element-mask);
		height: $dock-h;
		width: 100%;
		z-index: -1;
		transform: perspective( 150px ) rotateX( 50deg );
		/*
		&:after,&:before {
			position: absolute;
			top: 0;
			left: -$aft-bfr-w;
		    
			width: $aft-bfr-w;
			height: $dock-h;
			display: block;

			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 0 $dock-h $aft-bfr-w;
			border-color: transparent transparent $dock-color transparent;
		
			content: '';
			z-index: 2;
		}
		&:after{
			left: auto;
			right: -$aft-bfr-w;
			border-width: $dock-h 0 0 $aft-bfr-w;
			border-color: transparent transparent transparent $dock-color;
		}
		*/
	}
	.dock-icon {
		$cubic : 30px;
		$radius: 100%;
		@include border-radius($radius);
		width: $cubic;
		height: $cubic;
		overflow: hidden;
		@include box-shadow(0 0 5px 0 $dark);
		@include single-transition(all, .1s, ease-in-out);
		margin-bottom: 10px;
		
		opacity: .8;
		@include scale(1.0);
		
		&:hover {
			opacity: 1;
			@include scale(1.2);
		}
	}
}


  #sidebar-wrapper {
    @include single-transition(all, .5s, ease-in-out);
    margin-right: -100%;
    right: 0;
    top: 0;
    width: 100%;
    background: $element-bg-color;
    position: absolute;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    textarea {
    	width: 100%;
    	height: 190px;
    }
  }

  .sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #menu-toggle {
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;
  }

  #sidebar-wrapper.active {
    @include single-transition(all, .5s, ease-in-out);
    right: 100%;
    width: 100%;
  }

  .toggle {
  	position: absolute;
	right: 0;
	bottom: 0;
  }

/*
.cke_top {
	position: fixed !important;
	bottom: 100px !important;
}
*/